div{
  margin: 0;
  padding: 0;
}
.main-container{
  margin: 20px 0;
  box-sizing: border-box;
}

mat-card{
  width: 100%;
  margin: 20px 0;
}

.projects{
  margin: 20px 0;
}

button{
  outline: none;
}

.create-new-btn{
  width: 80%;
}
